.item__label {
  font-size: 14px;
  font-weight: 400;
  color: $primary;
  letter-spacing: 0.01em;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.item__title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.item--next {
  .item__label,
  .item__title {
    text-align: right;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .item--next {
    margin-top: 15px;
  }

  .item__label {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .item__title {
    font-size: 18px;
  }
}
