// _variables.scss
$primary-color: #29a587;
$secondary-color: #ff014f;

$border-radius: 15px;

$title-color: rgb(41, 41, 41) !default;
$subtitle-color: #000;
$font-color: #758294 !default;
$font-family: 'Jost', sans-serif;
$font-weight: 300 !default;
$font-size: 16px !default;
$muted-color: #a49e93 !default;
$shadow: -11.31px 11.31px 17px 0px rgba(138, 131, 124, 0.23);
$hover-shadow: -20px 20px 15px 0px rgba(0, 0, 0, 0.2);

$social-facebook: #1877f2;
$social-twitter: #1da1f2;
$social-linkedin: #0a66c2;
$social-github: var(--social-github);
$social-codepen: var(--social-codepen);
$social-telegram: #26a5e4;
$social-whatsapp: #25d366;
