$font-family: "Jost", "Helvetica", Arial, sans-serif;

@use "vuetify" with (
  $body-font-family: $font-family
);

@import "variables";

@import "transitions";

// Core CSS
@import "theme/misc";
@import "theme/typography";

// common components
@import "theme/images";
@import "theme/cards";

// components
@import "components/note/article-toc";

// pages
@import "pages/notes/article";
@import "pages/about";
@import "pages/error";

/* About section */
.about__title {
  text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000,
    5px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Sidebar */
.line-block {
  background: #000;
  bottom: 10px;
  left: 15px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: all 0.5s cubic-bezier(0.3, 0, 0.3, 1);
  width: 2px;
  z-index: 3;

  &:before {
    background: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    box-shadow: 5px 5px rgb(0 0 0/20%);
    content: "";
    height: 30px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 30px;
    z-index: 1;
  }

  &:after {
    background: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    box-shadow: 5px 5px rgb(0 0 0/20%);
    bottom: 0px;
    content: "";
    height: 30px;
    left: -15px;
    position: absolute;
    width: 30px;
    z-index: 1;
  }
}
