/* Padding */
.p-20 {padding: 20px;}
.p-t-10 {padding-top: 10px;}
.p-t-20 {padding-top: 20px;}
.p-t-25 {padding-top: 25px;}
.p-b-45 {padding-bottom: 45px;}

/* Margin */
.m-b-10 {margin-bottom: 10px;}

/* Text */
.text-center {text-align: center;}

/* Width */
.w-full {width: 100%;}
