$primary: #29a587;
$secondary: #ff014f;

$title: rgb(41, 41, 41) !default;
$subtitle: #000;
$font: #758294 !default;
$muted: #a49e93 !default;

$linkedin: #0a66c2;
$github: var(--social-github);
$codepen: var(--social-codepen);
