$primary: #29a587;
$secondary: #ff014f;

$font: #262626 !default;
$muted: #a49e93 !default;
$subtitle: #000;
$title: rgb(41, 41, 41) !default;

$codepen: var(--social-codepen);
$github: var(--social-github);
$linkedin: #0a66c2;
