/*     General overwrite     */
html {
  scroll-behavior: smooth;
}

body {
  background: rgb(254, 244, 183);
  background: linear-gradient(
    135deg,
    rgb(252, 255, 202) 0%,
    19.5853%,
    rgb(226, 236, 225) 39.1705%,
    69.5853%,
    rgb(253, 248, 255) 100%
  );
}

a {
  color: $font;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $font;
  }
}

//  scrollbar
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
