/*     General overwrite     */
body {
  background: rgb(254, 244, 183);
  background: linear-gradient(
    135deg,
    rgb(252, 255, 202) 0%,
    19.5853%,
    rgb(226, 236, 225) 39.1705%,
    69.5853%,
    rgb(253, 248, 255) 100%
  );

  color: $font-color;
  font-size: $font-size;
  transition: background-color 0.3s;
}

.v-application {
  background-color: var(--bg) !important;
}

a {
  color: var(--primary-color);

  &:hover,
  &:focus {
    color: var(--secondary-color);
    text-decoration: none;
  }
}

hr {
  border-color: var(--primary-color);
}

a:focus,
a:active,
button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
select::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  outline: 0;
}

a:link {
  text-decoration: none;
}

//  scrollbar
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.primary-color {
  color: var(--primary-color);
}
