@import 'arcade';

// Base
body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// Forms
.form-control {
  padding: 15px 30px;
  height: auto;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

// Buttons
.btn {
  padding: 12px 50px;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.5s;
  letter-spacing: 2px;
  color: #fff;
  box-shadow: none;
  text-transform: uppercase;
  outline: none !important;
  background-color: var(--primary-color);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  min-width: 140px;
}

// Progress bar
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: var(--primary-color);
  transition: width 0.6s ease;
}

.b-box {
  background: $bg;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out 0s;
}

// Sections
.section {
  padding: 50px 0;
  position: relative;

  .section-title {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 80px 0;

    h1 {
      font-weight: 900;
      color: #666;
      text-transform: uppercase;
      margin: 0;
    }

    span {
      color: var(--primary-color);
    }

    .title-bg {
      left: 0;
      letter-spacing: 10px;
      line-height: 0.7;
      position: absolute;
      right: 0;
      top: 50%;
      text-transform: uppercase;
      font-weight: 800;
      transform: translateY(-50%);
      color: rgba(30, 37, 48, 0.07);
      color: $title-bg;
    }
  }
}
.section-dark {
  background: #d2d5dd;
  position: relative;

  .title,
  .info-title,
  .card-plain .card-title {
    color: #fff !important;
  }
  .category,
  .description,
  .card-plain .card-description,
  .card-plain .card-category {
    color: rgba(#fff, 0.7);
  }
  .b-box {
    background: #fff;
  }
  hr {
    border-color: rgba(255, 255, 255, 0.19);
  }
}
.section-subHead {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-head {
  position: relative;
  margin-bottom: 50px;
  text-align: center;

  h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      width: 40%;
      content: '';
      bottom: -30px;
      background: #932e10;
      margin: 0 auto;
      opacity: 0.5;
    }
  }

  span {
    padding-bottom: 10px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #878d8d;
  }
}
.page-header {
  .title,
  .info-title {
    color: #fff;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .page-header {
    .content-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -75%);
    }
    .presentation-title {
      background: none !important;
    }
  }
}

// Section "Quote"
.section-freelance {
  background-image: url('/robot.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.section-freelance:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2a2d35;
  z-index: -1;
  opacity: 0.5;
}
.section-freelance h2 {
  color: #fff;
}

// Back to top button
#back-top {
  background: url('/alien.webp');
  background-size: 100%;
  bottom: 20px;
  border-radius: 2px;
  color: var(--primary-color);
  display: inline-block;
  font-size: 18px;
  height: 60px;
  line-height: 40px;
  opacity: 1;
  position: fixed;
  right: 30px;
  text-align: center;
  visibility: visible;
  width: 60px;
  z-index: 999999;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
