.navbar {
  .navbar__logo {
    font-weight: 400;
    text-transform: uppercase;

    &:hover {
      color: $primary;
    }
  }

  .navbar__item {
    &:hover,
    &.navbar__item.v-btn--active {
      color: $primary;
    }
  }
}
