$primary-color: #91d0cc;
$accent-color: #d9be93;
$black-color: #787878;

body {
	color: #787878;
	font-family: 'ZCOOL XiaoWei', serif;
}

a {
	color: #787878;

	&:hover {
		color: $primary-color;
	}
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea, .form-control {
	border-color: rgba(0, 0, 0, 0.1);
	background-color: transparent;
	border-radius: 0;
	border-width: 0 0 1px 0;
	color: #1a1a1a;
	padding-left: 0;
	padding-right: 0;
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 16px;

	&:focus {
    outline: none;
	}
}

.logo {
	display: inline-block;
	word-break: break-word;
	font-weight: 700;
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	line-height: 1;
	position: relative;
	z-index: 2;
	padding: 5px 0;
	min-height: 60px;
	line-height: 45px;
}

.button {
	background-color: $primary-color;
	color: #fff;
	font-size: 18px;
	padding: 17px 30px 17px;
	margin-bottom: 4px;
	line-height: 1;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	border: none;
	border-radius: 2px;
	position: relative;
	transition: all 0.4s linear 0s;

	&:hover {
		background-color: $accent-color;
		color: #fff;
		text-decoration: none;
		cursor: pointer;
		box-shadow: 0px 2px 30px $accent-color;
	}
}

.section {
	padding-top: 80px;
	padding-bottom: 50px;

	.section_header {
		color: $primary-color;
		margin: 10px 0 24px;
	}

	.section_caption {
		font-size: 16px;
		line-height: 23px;
	}
}

/* 
** toTop
*/
#toTop {
	bottom: 5px;
	right: 5px;
	display: none;
	width: 60px;
	height: 60px;
	overflow: hidden;
	position: fixed;
	text-decoration: none;
	z-index: 9999;
	font-size: 0;
	color: transparent;
	background-color: $primary-color;
	border-radius: 4px;
	opacity: 0.7;

	&:after {
		color: #ffffff;
		content: '\f106';
		font-size: 35px;
		line-height: 60px;
		font-family: 'FontAwesome';
		text-align: center;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: all 0.2s linear;
	}

	&:hover {
		bottom: 8px;
		opacity: 1;

		&:after {
			color: #ffffff;
		}
	}

	&:active,
	&:focus {
		outline: medium none;
	}
}

/*
** Template Specific Styles
*/
/* topline*/
.page_topline {
	background-color: $primary-color;
	color: #ffffff;
	font-size: 15px;
	z-index: 1001;

	.social-icon {
		font-size: 20px;

		&:hover {
			cursor: pointer;
			color: #d9bd92;
		}
	}

	.divider {
		border-left: 1px solid #d9bd92;
		margin: 0 8px;
	}
}

/* header */
.page_header_wrapper {
	transition: 0.3s ease-in-out;
	margin: 0;
	padding: 0;
	background-color: #fff;
	z-index: 100;
	position: absolute;
	width: 100%;
	background: transparent;
	transition: all 2s;

	.affix {
		box-shadow: 0 1px 20px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
		background: white;

		a.logo {
			display: inline-block;
		}
	}

	a.logo {
		display: none;
		word-break: break-word;
		font-weight: 700;
		font-size: 30px;
		color: $primary-color;
		font-family: 'Playfair Display', serif;
		line-height: 1;
		position: relative;
		z-index: 2;
		padding: 5px 0;
		min-height: 60px;
		line-height: 45px;

		img {
			height: 20px;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.navbar-toggler {
		font-size: 2em;
		color: $black-color;
		outline: none;

		&:hover {
			cursor: pointer;
			color: $accent-color;
		}
	}

	.navbar-collapse {
		background: #fff;
	}

	.nav-item {
		.nav-link {
			color: #444;
			font-size: 18px;
		}

		&.active .nav-link {
			color: #91d0cc;
			font-weight: bold;
		}

		&:hover {
			text-shadow: 0 0.05em 0.1em rgba(68, 68, 68, 0.5);
		}
	}
}

@media (min-width: 576px) {
	.page_header_wrapper a.logo {
		font-size: 25px !important;
	}
}

/* intro */
.intro_section {
	height: 100vh;
	background: url('../images/slide01.jpg');
	background-size: cover;
	background-position: center;

	.intro-layer {
		text-shadow: 0 0.05em 0.1em rgba(68, 68, 68, 0.5);
		animation: fade 2s forwards;
		position: relative;
		color: #444;
		display: 0;

		h1 {
			font-size: 80px;
		}

		p {
			font-size: 18px;
		}
	}
}

@keyframes fade {
	100% {
		display: 1;
	}
}

/* services */
.services_section {
	.service_item {
		border-radius: 4px;

		* {
			cursor: default;
		}

		&:hover {
			box-shadow: 0 2px 30px rgba(145,208,204,.5);
		}
	}
}

/* about */
.about_section {
	background: $black-color;
	background-image: url(https://www.transparenttextures.com/patterns/cartographer.png);
	color: #fff;

	img {
		border-radius: 100%;
	}
}

/* contact */
.page_contact {
	.contact-form {
		margin-top: 60px;

		.button {
			margin-top: 30px;
		}
	}
}

/* blog */
.blog_section {
	.post {
		box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);

		.item-media {
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.item-date {
			color: $primary-color;
			text-transform: uppercase;
		}

		.item-title {
			margin: 15px 0;
		}
	}
}

/* footer */
.page_footer {
	background-color: $accent-color;
	padding-top: 25px;
	padding-bottom: 25px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li a {
			font-size: 18px;
		}
	}

	a {
		color: rgba(255, 255, 255, 0.6);

		&.logo {
			text-shadow: 0 0.05em 0.1em rgba(68, 68, 68, 0.5);
			color: #fff;

			span {
				display: block;
				font-size: 9px;
				line-height: 1;
			}
		}

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}

/* copyright */
.page_copyright {
	background-color: darken($accent-color, 10);
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}