.btn {
  background: var(--primary-color);
  color: #fff;
  box-sizing: border-box;
  border-width: 2px;
  font-size: 12px;
  font-weight: 500;
  padding: 0.5rem 18px;
  line-height: 1.75;
  cursor: pointer;
  text-transform: uppercase;

  @include transition(150ms, linear);

  &:hover,
  &:focus {
    outline: 0 !important;
    @include box-shadow(none);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    @include box-shadow(none);
    outline: 0 !important;
  }
}

.btn {
  &:disabled,
  &[disabled],
  &.disabled {
    @include opacity(0.5);
  }
}
