/*     General overwrite     */
body {
  background-color: var(--bg) !important;
  color: var(--font-color);
  font-size: $font-size;
  transition: background-color 0.3s;
}

.v-application {
  background-color: var(--bg) !important;
}

a {
  color: var(--primary-color);

  &:hover,
  &:focus {
    color: var(--secondary-color);
    text-decoration: none;
  }
}

hr {
  border-color: var(--primary-color);
}

a:focus,
a:active,
button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
select::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  outline: 0;
}

//  scrollbar
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.social-icon {
  font-size: 32px !important;
  transition: color 1s;

  &:hover {
    color: var(--primary-color);
  }
}
.social-linkedin {
  color: $social-linkedin !important;
}
.social-github {
  color: $social-github !important;
}
.social-codepen {
  color: $social-codepen !important;
}

.primary-color {
  color: var(--primary-color);
}

.section {
  margin-top: 50px;
  margin-bottom: 30px;
}
