.btn {
  box-sizing: border-box;
  border-width: $border-thick;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  padding: 0.5rem $padding-base-horizontal;
  line-height: 1.75;
  cursor: pointer;
  text-transform: uppercase;

  @include btn-styles($default-color, $default-states-color);
  @include transition($fast-transition-time, linear);

  &:hover,
  &:focus {
    outline: 0 !important;
    @include box-shadow(none);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    @include box-shadow(none);
    outline: 0 !important;
  }

  .nc-icon {
    position: relative;
    top: 2px;
  }
}

.btn {
  &:disabled,
  &[disabled],
  &.disabled {
    @include opacity(0.5);
  }
}
