@import 'bootstrap-grid';

.social-container {
  display: flex;
  align-items: center;

  .contact-social {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 0px;
    line-height: 0px;

    li {
      display: inline;
      margin: 0 5px 5px;
      padding: 0;

      a {
        border-color: #a1a1a1;
        border: 2px solid;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        float: left;
        text-align: center;
        line-height: 36px;
        font-size: 16px;
        position: relative;
        z-index: 9;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .social-container .contact-social {
    flex-direction: row;
    padding-bottom: 15px;
  }
}
