.navbar-brand {
  display: flex;
  place-items: flex-end;
  color: #0eb2e7;

  img {
    max-width: 100%;
    max-height: 65px;
    margin-right: 10px;
  }
}

.navbar-nav {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.5px;

  .nav-item {
    a {
      color: #444;
      font-weight: 500;
    }
    &:hover a {
      color: #0eb2e7;
    }
    &.active a {
      color: #0eb2e7 !important;
      font-weight: bold;
      border-bottom: 2px solid #0eb2e7;
    }
  }
}
