.titles {
  margin: 0 0 50px 0;
  text-align: center;

  .titles__title {
    color: $title;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .titles__subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    z-index: 2;

    span {
      color: $primary;
      font-size: 20px;
      font-weight: 400;
    }

    b {
      color: $title;
      font-family: 'Caveat';
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 0;
      text-transform: none;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .titles {
    .titles__title {
      font-size: 26px;
      margin-bottom: 10px;
    }

    .titles__subtitle b {
      font-size: 24px;
    }
  }
}
