#about-page {
  .about__history-items {
    .about__history-item {
      border-bottom: 2px solid #000;
      border-right: 2px solid;
      position: relative;

      .about__name {
        &:after {
          background: #fff;
          border: 2px solid #000;
          border-radius: 50%;
          bottom: -24px;
          box-shadow: 5px 5px rgb(0 0 0/20%);
          content: "";
          font-size: 30px;
          font-weight: 400;
          height: 48px;
          line-height: 40px;
          position: absolute;
          right: -24px;
          text-align: center;
          transition: all 1.2s cubic-bezier(0.3, 0, 0.3, 1);
          width: 48px;
          z-index: 2;
        }
      }
    }
  }

  .about__skills-item {
    margin-bottom: 70px;
    position: relative;

    .about__dots {
      background: rgba(0, 0, 0, 0.1);
      height: 2px;
      position: relative;

      .about__dot {
        background: #000;
        display: block;
        height: 2px;
        position: relative;
        transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
        width: 0;

        span {
          border: 2px solid #000;
          border-radius: 50%;
          background-color: #29a587;
          box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
          position: absolute;
          right: 0;
          top: -12px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .about__history-container {
      padding: 10px;

      .about__history-items {
        .about__history-item {
          border-right: none;
        }

        .about__name:after {
          display: none;
        }
      }
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #about-page {
      .about__container {
        .about__content {
          text-align: center;
        }
      }
    }
  }
}
