#projects {
  .projects__list {
    .projects__item {
      height: 100%;
      margin-bottom: 30px;
      overflow: hidden;
      padding: 0 20px;
      position: relative;

      .projects__container {
        padding: 20px;
        height: 100%;

        .projects__image {
          margin: 30px 0 0;
          border-radius: 20px;
        }

        .projects__content {
          padding-top: 20px;

          .projects__category {
            color: $primary;
            display: block;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 0.05em;
            margin-bottom: 5px;
            text-transform: uppercase;
          }

          .projects__name {
            font-size: 24px;
            margin: 0;
          }

          .projects__text {
            margin: 15px 0 0;
            min-height: 80px;
            opacity: 0.8;
          }
        }
      }
    }
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .projects__item {
      padding: 10px;
    }
  }
}
