#articles {
  .articles__pager {
    display: flex;
    justify-content: center;

    .articles__button {
      background-color: $primary;
      color: #fff;
    }
  }

  .articles__sidebar {
    border-left: 1px solid #999;

    .articles__section {
      margin-bottom: 0;
      padding: 25px 0 25px 50px;

      .articles__heading {
        font-size: 18px;
        margin-bottom: 30px;
        margin-top: 0;
        padding: 0;
        position: relative;
        text-transform: uppercase;

        &:before {
          background: $primary;
          bottom: -10px;
          content: '';
          height: 4px;
          left: 0;
          position: absolute;
          width: 80px;
        }
      }

      .articles__items {
        padding-left: 0;

        .articles__item__wrapper {
          line-height: 1.4;
          margin-top: 0;
          margin-left: 20px;

          .articles__item {
            font-weight: 400;
          }
        }
      }
    }
  }
}
